#imagen-nav {
  max-height: 100px;
  position: relative;
}
#menu-Desplegable {
  background: #ce232b;
  border-color: #ce232b;
  position: relative;
  /*left: 60%;
  bottom: 1em;*/
  transform: translateX(62vw);
}

#Titulo {
  position: relative;
  right: 50vw;
  color: white;
}

#nav2 {
  position: relative;
  width: 101vw;
  height: 6em;
  z-index: 10;
}
/*
#nav1 {
  position: relative;
}*/
#menu {
  position: relative;
  width: 80vw;
}
#linkHome {
  position: absolute;
  left: 1em;
}
#login {
  position: absolute;
  bottom: 0%;
  right: 30%;
  width: 40vw;
}
#iconoLogin {
  font-size: 2.4em;
  color: white;
  position: relative;
  right: -31vw;
  top: 1.2em;
  cursor: pointer;
}
#texto {
  color: white;
  position: relative;
  left: 31vw;
  bottom: -2.4em;
}
#deslogearse {
  color: white;
  position: relative;
  left: 31vw;
  bottom: -4.4em;
}
